<!-- Header -->
{{> admin/admin-header}}
    <body class="sb-nav-fixed">
<!-- Top Navbar -->
{{> admin/admin-topnav}}
<!-- Side Navbar -->
{{> admin/admin-sidebar}}
<div id="layoutSidenav_content">
    {{{ body }}}
<!-- Footer -->
{{> admin/admin-footer}}
</div>
    </body>
</html>