<!-- Header -->
{{> default/header }} 
    <body>
<!-- Nav Bar -->
{{> default/top-nav }} 
<!-- Page header with logo and tagline-->
{{!-- {{> default/top-header}} --}}
        <!-- Page content-->
        <div class="container">
            {{> default/default-messages}}
            {{{ body }}}
        </div>
<!-- Footer-->
{{> default/footer}}
