<div class="container-fluid">
    {{#if success_message}}

    <div class="alert alert-success alert-dismissible fade show mb-1 auto-hide" role="alert">
        <strong>{{success_message}}</strong>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if error_message}}

    <div class="alert alert-danger alert-dismissible fade show auto-hide" role="alert">
        <strong>{{error_message}}</strong>
        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  

    {{/if}}    
</div>
